<% provide title: (@friend ? "#{@friend.name}'s Wishes" : "Wishes") %>

<h1><%= "#{@friend.name}'s " if @friend %><%= 'Unfulfilled ' if @index_type == :unfulfilled%>Wishes</h1>

<% if @index_type == :unfulfilled && @friend %>
  <%= link_to "All of #{@friend.name}'s wishes, including those that have been fulfilled", all_wishes_friend_path(@friend) %>
<% elsif @index_type == :unfulfilled %>
  <%= link_to 'All wishes, including those that have been fulfilled', all_wishes_path %>
<% end %>

<TABLE BORDER="5">
  <tr>
    <th>Title</th>
    <% unless @friend %>
      <th>Wisher</th>
    <% end %>
    <th colspan="3">Description</th>
    <th colspan="3">Fulfilled with:</th>
  </tr>
  <% @wishes.each do |wish| %>
    <tr>
      <td><%= link_to wish.title, wish %></td>
      <% unless @friend %>
      <td><%= wish.friend.name %></td>
      <% end %>
      <td colspan="3"><%= wish.description %></td>
      <% if current_user == wish.friend %>
        <td colspan="3">You'll just have to wait until Christmas to find out!</td>
      <% elsif wish.gifts.any? %>
        <td colspan="3"><%= render partial: 'gift_title_links', locals: {wish: wish} %></td>
      <% else %>
        <td colspan="3">None</td>
      <% end %>
    </tr>
  <% end %>
</TABLE>

<li><%= link_to "Make A Wish", '/wishes/new' %></li>
