<h2>Special Friends Help Page</h2>
<ul>
  <li><%= "Go to #{ENV['DOMAIN']}/wishes/new to make a wish" %></li>
  <li><%= "Go to #{ENV['DOMAIN']}/wishes/unfulfilled to make a wish" %></li>
  <li><%= "Go to #{ENV['DOMAIN']}/wishes/all to see all wishes, including ones that other people are already fulfilling" %></li>
  <li><%= "Go to #{ENV['DOMAIN']}/gifts/new whenever you know for sure that you're going to get a gift for someone" %></li>
  <li><%= "If you purchase or send a gift that you have already entered into the site, make sure to update it accordingly" %></li>
  <li><%= "There is nothing preventing you from logging in as someone else, but please refrain from doing so" %></li>
  <li><%= "Relatedly, remember to log out when you're done so no one sees what they're getting or who their giver is" %></li>
  <li><%= "Let me know if you run into any issues or have any feedback" %></li>
  <li><%= "There is an anonymous messaging system for you to contact your giver or recipient" %></li>
  <li><%= "Make sure not to mention who you are in a message to your recipient" %></li>
</ul>
