<% provide(title: "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Special Friends</h1><br>

    <h3>Log in</h3>
    <h4>Session will expire after 30 minutes of inactivity</h4>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form control' %>

      <%= f.hidden_field :referer, value: @referer %>

      <%= f.submit "Log in", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
