<% provide(:title, "Friends") %>

<% @cousins = @friends.select { |friend| friend.millenial == true } %>
<% @siblings = @friends.select { |friend| friend.millenial == false } %>
<% @special_friend_id = (@friends.find {|friend| friend.name == logged_in_user.recipient}).id %>

<h1>Your special friend is <%= link_to friend_path(@special_friend_id) %>.</h1>

<h2>Siblings</h2>

<ul>
  <% @siblings.each do |friend| %>
    <li>
      <% if (friend.id == logged_in_user.id) %>
        <%= link_to "#{friend.name}", friend_path(id: (@friends.find {|friend| friend.name == gift.name}).id) %>
      <% elsif logged_in_user.recipient == friend.name %>
      <% else %>
        <%= link_to "#{friend.name}", friend_path(id: (@friends.find {|friend| friend.name == gift.name}).id) %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Cousins</h2>

<ul>
  <% @cousins.each do |friend| %>
    <li>
      <% if (friend.id == logged_in_user.id) %>
        <%= link_to "#{friend.name}", friend_path(id: (@friends.find {|friend| friend.name == gift.name}).id) %>
      <% elsif logged_in_user.recipient == friend.name %>
      <% else %>
        <%= link_to "#{friend.name}", friend_path(id: (@friends.find {|friend| friend.name == gift.name}).id) %>
      <% end %>
    </li>
  <% end %>
</ul>
