<% provide(:title, @friend.name) %>

<% if current_user.recipient == @friend %>
  <h1>This person is your recipient</h1>
  <%= link_to 'Send them a message', 'new_message_to_recipient' %>
<% end %>
<h2>Wishes</h2>
<table border=5>
  <thead>
    <th>Title</th>
    <th colspan="5">Description</th>
    <% unless @friend == current_user %>
      <th colspan="5">Fulfilled with:</th>
    <% end %>
  </thead>
  <tbody>
    <% @wishes.each do |wish| %>
      <td><%= link_to wish.title, wish %></td>
      <td colspan="5"><%= wish.description %></td>
      <% unless @friend == current_user %>
        <th colspan="5"><%= wish.gifts.to_a.map(&:title) %></th>
      <% end %>
    <% end %>
  </tbody>
</table>

<% unless @friend == current_user %>
  <h2><%= link_to "All gifts that #{@friend.name} is receiving", friend_gifts_path(@friend) %>
<% end %>

<br>
<h2>Generation</h2>
<%= link_to @friend.generation.name, generation_friend_path(@friend) %>
<br>
<% if @friend == current_user %>
  <%= link_to "Add gift to wishlist", new_wish_path %>
<% else %>
  <%= link_to "#{@friend.name}'s wishlist", friend_wishes_path(@friend) %>
  <%= link_to "Give this person a gift", new_friend_gift_path(@friend) %>
<% end %>
