<% provide(:title, @friend.name) %>

<h1><%= @friend.name %></h1>

<% if current_user.recipient == @friend %>
  <h3>This person is your recipient</h3>
  <%= link_to 'Send them a message', 'new_message_to_recipient' %>
<% end %>

<br>
<% if @friend == current_user %>
  <%= link_to "Add gift to wishlist", new_wish_path %>
<% else %>
  <%= link_to "#{@friend.name}'s wishlist", wishes_friend_path(@friend) %><br>
  <%= link_to "Give this person a gift", new_friend_gift_path(@friend) %>
<% end %>

<% unless @friend == current_user %>
  <h2><%= link_to "All gifts that #{@friend.name} is receiving", receiving_gifts_friend_path(@friend) %></h2>
<% end %>

<br>
<h2>Generation</h2>
<%= link_to @friend.generation.name, generation_friend_path(@friend) %>
