<%= form_with(model: friend_message, local: true) do |form| %>
  <% if friend_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend_message.errors.count, "error") %> prohibited this friend_message from being saved:</h2>

      <ul>
      <% friend_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :friend_match_id,
    value: (sending_as == :giver ? current_user.giver_match.id : current_user.recipient_match.id) %>

  <div class="field">
    <%= form.label :content, "Your message" %>
    <%= form.text_area :content, id: :friend_message_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
