<%= form_with(model: friend_message, local: true) do |form| %>
  <% if friend_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend_message.errors.count, "error") %> prohibited this friend_message from being saved:</h2>

      <ul>
      <% friend_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :friend_match_id,
    value: (sending_as == :giver ? current_user.giver_match : current_user. recipient_match) %>


  <div class="field">
    <%= form.hidden_field :sender_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.number_field :recipient_id, id: :friend_message_recipient_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :friend_message_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
