<p id="notice"><%= notice %></p>

<p>
  <% if @index_type == :as_giver %>
    <h1><%= "Messages between you and your recipient #{current_user.recipient.name}" %></h1>
    <%= link_to "Messages between you and your giver", messages_as_recipient_path %>
    <%= link_to 'All messages', friend_messages_path %>
  <% elsif @index_type == :as_recipient %>
    <h1><%= "Messages between you and your giver" %></h1>
    <%= link_to "Messages between you and your recpient #{current_user.recipient.name}", messages_as_giver_path %>
    <%= link_to 'All messages', friend_messages_path %>
  <% elsif @index_type == :unread %>
    <h1><%= "Unread messages" %></h1>
    <%= link_to "Messages between you and your giver", messages_as_recipient_path %>
    <%= link_to "Messages between you and your recpient #{current_user.recipient.name}", messages_as_giver_path %>
    <%= link_to 'All messages', friend_messages_path %>
  <% else %>
    <h1>All Messages<h1>
    <%= link_to "Messages between you and your recipient #{current_user.recipient.name}", messages_as_recipient_path %>
    <%= link_to 'Messages between you and your giver', messages_as_giver_path %>
  <% end %>
</p>

<table border="5">
  <thead>
    <tr>
      <th colspan="1">Sender</th>
      <th colspan="1">Recipient</th>
      <th colspan="3">Content</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_messages.each do |friend_message| %>
      <tr>
        <td colspan="1"><%= friend_message.sender_name(current_user) %></td>
        <td colspan="1"><%= friend_message.recipient_name(current_user) %></td>
        <td colspan="3"><%= friend_message.content %></td>
        <td colspan="1"><%= link_to 'View/reply', friend_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New message to your giver', 'new_message_to_giver' %>
<%= link_to "New message to your recipient #{current_user.recipient.name}", 'new_message_to_recipient' %>
