<% raise unless current_user && gift %>
<% if gift.recipient == current_user %>
  <% gift_title = '?????????' %>
  <% fulfillment_of = '?????????' %>
  <% description = '?????????' %>
<% else %>
  <% gift_title = gift.title %>
  <% fulfillment_of = gift.wish ? gift.wish.name : 'none' %>
  <% description = gift.description %>
<% end %>

<ul>
  <% unless gift.recipient == current_user%>
    <li><%= link_to gift_title, gift %></li>
    <li>
      <% if gift.giver == gift.recipient.special_friend_giver %> /* to do: add this to the model */
        <% "#{gift.giver.name.capitalize}'s special friend" %>
      <% else %>
        Recipient: <%= link_to gift.recipient.name, gift.recipient %>
      <% end %>
    </li>
    <li>Description: <%= description %></li>
    <% if fulfillment_of %>
      <li>Fulfillment of: <%= fulfillment_of, gift.wish  %></li> /* to do: makes sure this works */
    <% end %>
    <li>Shipped: <%= !!gift.shipped %></li>
    <li>Received: <%= @gift.received %>
      <% if gift.recipient == current_user.name %> <%# to do: reformat this */ %>
        <%= link_to "Give an update about whether this gift has arrived",
        edit_gift_path(gift.id) %>
      <% end %>
    <% end %>
  <% end %>
</ul>
