<% raise unless f %>

<% if params[:friend_id] %>
  <%= f.hidden_field(:recipient_id, value: params[:friend_id]) %>
<% elsif params[:wish_id] %>
  <%= f.hidden_field(:recipient_id, value: Wish.find(params[:wish_id]).friend_id) %>
<% else %>
  <%= f.label :recipient_id, 'Who is this gift for?' %>
  <%= f.select(:recipient_id, Friend.all.to_a.map{ |fr| [fr.name, fr.id]}.prepend(["", nil]),
    id: 'gift_recipient_select') %><br>
<% end %>

<% if params[:wish_id] %>
  <%= f.hidden_field :wish_id, value: params[:wish_id] %>
<% elsif params[:friend_id] %>
  <%= f.collection_select(:wish_id, Friend.find(params[:friend_id]).wishes, :id,
  :title, include_blank: true, id: 'gift_wish_select') %>
<% else %>
  <%= f.label :wish_id, "What wish, if any, is this gift fulfilling?" %>
  <%= f.select :wish_id, [], include_blank: true, id: 'gift_wish_select' %>
<% end %>

<script type="text/javascript">
var $url_arr = window.location.href.split("/");
var $root_url = $url_arr[0] + "//" + $url_arr[2];
$("select#gift_recipient_id").change(function(){
  var full_url = $root_url + "/friend_wishes_ajax" + "/" + $("select#gift_recipient_id option:selected:first").val() + ".json";
  $('select#gift_wish_id option:gt(0)').remove();
  $.getJSON( full_url, function( data ) {
    $.each( data, function( ind, val ) {
      $("select#gift_wish_id").append($("<option></option>")
        .attr("value", val["id"]).text(val["title"]));
    });
  });
});
</script>
