<% raise unless current_user && gifts %>
<TABLE BORDER="5">
  <tr>
    <th>Title</th>
    <% if @giver %>
      <th>Giver</th>
    <% end %>
    <% if @recipient %>
      <th>Recipient</th>
    <% end %>
    <% unless @wish %>
      <th>Fulfills wish</th>
    <% end %>
    <th>Purchase status</th>
  </tr>
  <% gifts.each do |gift| %>
    <% unless current_user == gift.recipient %>
      <tr>
        <td><%= link_to gift.title, gift %></td>
        <% if @giver %>
        <td><%= gift.giver.name %></td>
        <% end %>
        <% if @recipient %>
        <td><%= gift.recipient.name %></td>
        <% end %>
        <% unless @wish %>
        <td><%= (gift.wish.nil?) ? 'None' : gift.wish.title %></td>
        <% end %>
        <td><%= gift.purchase_status %></td>
      </tr>
    <% end %>
  <% end %>
</TABLE>
