<% provide(:title, 'Edit gift') %>

<% if current_user.name == gift.giver %>
  <h1>Edit wish</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@gift) do |f| %>
        <%= f.label :title, "A brief title for your gift" %>
        <%= f.text_field :title %>

        <%= f.label :description, "A longer description of your gift with any relevant details, including URLs, ISBN, etc" %>
        <%= f.text_area :description, :cols => "10", :rows => "10" %>

        <%= f.label :recipient %>
        <%= f.text_field :recipient %>

        <%= f.label(:shipped, "When did you ship this? (Leave blank if unshipped.)") %>
        <%= f.date_field(:shipped) %>

        <%= f.label(:shipping_details, "Additional shipping details, if any, including tracking number, whether the gift is wraped, etc.") %>
        <%= f.text_field :shipping_details %>

        <% :asked_for = false %>
        <% :giver = current_user.name %>
        <% :intend_to_give = true %>
        <% :received = nil %>

        <%= f.submit "Update gift", class: "btn btn-primary" %>
        <%= link_to "Cancel", friend_path(id: current_user.id) %>
      <% end %>
    </div>
  </div>
<% else %>
  You shouldn't be here.
  <%= link_to "Back to profile", current_user %>
<% end %>
