<% provide(:title, 'Edit wish') %>

<% if logged_in_user.name == gift.recipient %>
  <h1>Edit wish</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@gift) do |f| %>
        <%= f.label :title, "A brief title for your wish" %>
        <%= f.text_field :title %>

        <%= f.label :description, "A longer description of your wish with any relevant details, including URLs, ISBN, etc" %>
        <%= f.text_area :description, :cols => "10", :rows => "10" %>

        <% :asked_for = true %>
        <% :recipient = logged_in_user.name %>
        <% :intend_to_give = false %>
        <% :recieved = nil %>
        <% :giver = nil %>
        <% :shipped = nil %>
        <% :shipping_details = nil %>


        <%= f.submit "Make wish", class: "btn btn-primary" %>
        <%= link_to "Cancel", friend_path(id: logged_in_user.id) %>
      <% end %>
    </div>
  </div>
<% else %>
  You shouldn't be here.
  <%= link_to "Back to profile", logged_in_user %>
<% end %>
