<% provide(:title, 'Fulfill wish') %>
<br>
<h3>Purchse <%= @gift.title %> for <%= @gift.recipient %></h3>
<%= @gift.description %>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@gift) do |f| %>

      <%= f.label(:shipped, "When did you ship this? (Leave blank if unshipped.)") %>
      <%= f.date_field(:shipped) %>

      <%= f.label(:shipping_details, "Additional shipping details, if any, including tracking number, whether the gift is wraped, etc.") %>
      <%= f.text_field :shipping_details %>

      <% :asked_for = true %>
      <% :giver = logged_in_user.name %>
      <% :intend_to_give = true %>
      <% :recieved = nil %>
      <% :recipient = @gift.recipient %>
      <% :title = @gift.title %>
      <% :description = @gift.description %>

      <%= f.submit "Fulfill wish", class: "btn btn-primary" %>
      <%= link_to "Cancel", gift_path(id: @gift.id) %>
    <% end %>
  </div>
</div>
