<% provide(:title, 'Give gift') %>
<h1>Please use this form only if you are giving a gift that is not on the recipient's wish list. </h1>
<h2>Otherwise, please go to the recipient's page and find the gift you intend to give.</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@gift) do |f| %>
      <%= f.label :title, "A brief title for your gift" %>
      <%= f.text_field :title %>

      <%= f.label :description, "A longer description of your gift with any relevant details, including URLs, ISBN, etc" %>
      <%= f.text_area :description, :cols => "10", :rows => "10" %>

      <%= f.label :recipient %>
      <%= f.text_field :recipient %>

      <%= f.label(:shipped, "When did you ship this? (Leave blank if unshipped.)") %>
      <%= f.date_field(:shipped) %>

      <%= f.label(:shipping_details, "Additional shipping details, if any, including tracking number, whether the gift is wraped, etc.") %>
      <%= f.text_field :shipping_details %>

      <% :asked_for = false %>
      <% :giver = logged_in_user.name %>
      <% :intend_to_give = true %>
      <% :recieved = nil %>


      <%= f.submit "Give gift", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
