<% provide(:title, 'New gift') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@gift) do |f| %>

      <%= f.label :title, " Title" %>
      <%= f.text_field :title %><br>

      <%= f.label :description, "A longer description of your gift with any relevant details, including URLs, ISBNs, etc" %>
      <%= f.text_area :description, :cols => "10", :rows => "10" %><br>

      <% if @recipient %>
        <%= f.hidden_field :recipient_id, value: @recipient.id %>
        <%= f.collection_select(:wish_id, Friend.find(params[@recipient.id]).wishes, :id,
        :title, include_blank: true, id: 'gift_wish_select') %>
      <% else %>
        <%= f.label :recipient_id, "Who are you giving this to?" %><br>
        <%= render partial: "gift_selectors.html.erb", locals: {f: f, params: params}, object: @wish%>
      <% end %><br>

      <%= f.radio_button :purchase_status, "intend", checked: true %>
      <%= f.label :purchase_status_intend, "I have not yet purchased this item, but I intend to" %>
      <%= f.radio_button :purchase_status, "purchased" %>
      <%= f.label :purchase_status_purchased, "I have already purchased this item, but have not sent it out yet" %>
      <%= f.radio_button :purchase_status, "sent" %>
      <%= f.label :purchase_status_sent, "I have already purchased and sent this item" %>

      <%= f.hidden_field :giver_id, value: current_user.id %>
      <%= f.hidden_field :year, value: Time.christmas_year %>

      <%= f.submit "Give gift", class: "btn btn-primary" %>
      <%= link_to "Cancel", friend_path(id: current_user.id) %>
    <% end %>
  </div>
</div>
