<% provide(:title, 'Request gift') %>
<h1>Add gift to wishlist</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@gift, url: request_gift_path) do |f| %>
      <%= f.label :title, "A brief title for your wish" %>
      <%= f.text_field :title %>

      <%= f.label :description, "A longer description of your wish with any relevant details, including URLs, ISBN, etc" %>
      <%= f.text_area :description, :cols => "10", :rows => "10" %>

      <%= f.hidden_field :asked_for, value: true %>
      <%= f.hidden_field :recipient, value: current_user.name %>
      <%= f.hidden_field :intend_to_give, value: false %>
      <%= f.hidden_field :received, value: nil %>
      <%= f.hidden_field :giver, value: nil %>
      <%= f.hidden_field :shipped, value: nil %>
      <%= f.hidden_field :shipping_details, value: nil %>


      <%= f.submit "Make wish", class: "btn btn-primary" %>
      <%= link_to "Cancel", friend_path(id: current_user.id) %>
    <% end %>
  </div>
</div>
