<% provide(:title, @gift.title) unless current_user == @gift.recipient %>

<% if current_user == @gift.recipient %>
  <h1>Stop trying to peek at your presents</h1>
<% else %>
  <h1><%= @gift.title %></h1>
  <h4>Description</h4>
  <%= @gift.description %>
  <h4>Recipient</h4>
  <%= @gift.recipient.name %>
  <% if @gift.wish %>
    <h4>Fulfillment of wish:</h4>
    <%= link_to @gift.wish.title, wish_path(@gift.wish) %>
  <% end %>
  <h4>Purchase Status</h4>
  <%= @gift.purchase_status %>
<% end %>

<% if (current_user == @gift.giver) %>
  <br>
  <%= link_to "Edit", edit_gift_path(@gift) %>
  <br>
  <%= link_to "Delete", gift_path(@gift), method: :delete, data: { confirm:
    'Are you sure you want to delete this?' } %>
<% end %>
