<!DOCTYPE html>
<html>
  <head>
    <title>SpecialFriends</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if current_user %>
      <header class = "navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to 'Special Friends', '#', id: 'logo' %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Messages (#{FriendMessage.where(recipient_id: current_user.id, read: false).count} unread)", friend_messages_path %></li>
              <li><%= link_to "All Friends", friends_path %></li>
              <li><%= link_to "All Unfulfilled Wishes", wishes_path %></li>
              <li><%= link_to "My Recipient (#{current_user.recipient.name})", recipient_path %></li>
              <li><%= link_to "Me (#{current_user.name})", user_path %></li>
              <li><%= link_to "My Wish List", all_wishes_friend_path(current_user) %></li>
              <li><%= link_to "Gift's I'm Giving", giving_gifts_friend_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
              <li><%= link_to "Help", '/help' %></li>
            </ul>
          </nav>
        </div>
      </header>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
